#art {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  padding: 5vw 50px;
  padding-top: 100px;
  box-sizing: border-box;
  background-color: var(--yellow);
  text-align: center;

  h1 {
    padding-bottom: 50px;
  }

  #art-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 30px;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;

    img {
      outline: 6px solid var(--peach);
      border-radius: var(--border-radius);
      max-width: 600px;
      width: 90vw;
    }
  }
}
