:root {
  --peach: #ffd599;
  --yellow: #ffeb99;
  --pink: #ffd6d6;
  --dark-pink: #f0b0b0;
  --orange: #ffa15d;
  --text: #b34b00;
  --title-text: var(--text);
  --border-radius: 96px;
}
::-webkit-scrollbar {
  display: none;
}
body {
  margin: 0;
  color: var(--text);
  background-color: white;
  font-family: "Arapey", serif;
  font-size: 18px;
}
a {
  color: var(--title-text);
}
h1 {
  color: var(--title-text);
  margin: 0;
  font-size: 32px;
}
#navbar {
  background-color: var(--pink);
  padding: 20px 5px;
  box-sizing: border-box;
  width: 100vw;
  position: relative;
  z-index: 5;
}
#navbar #navbar-inner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  white-space: nowrap;
}
#navbar a {
  font-weight: 700;
}
#intro-container {
  background-image: url("./img/sky.jpg");
  background-size: cover;
  background-position: bottom;
  height: 65vh;
}
#intro-container #intro {
  height: 65vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 100px;
  justify-content: center;
  align-items: center;
}
#intro-container #intro #intro-content {
  background-color: var(--yellow);
  box-sizing: border-box;
  padding: 20px 50px;
  width: 400px;
  max-width: 90vw;
  height: 300px;
  max-height: 62.5vh;
  border-radius: var(--border-radius);
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 6px solid var(--peach);
}
#intro-container #intro #intro-content h1 {
  margin-bottom: 10px;
}
#intro-container #intro #intro-img img {
  width: 300px;
  max-height: 62.5vh;
  border-radius: var(--border-radius);
  object-fit: cover;
  outline: 6px solid var(--peach);
}
@media (max-width: 850px) {
  :root {
    --border-radius: 12px;
  }
  #intro-container #intro {
    gap: 30px;
  }
  #intro-container #intro #intro-content {
    width: 300px;
    padding: 15px 30px;
  }
}
@media (max-width: 660px) {
  #intro-container {
    height: unset;
  }
  #intro-container #intro {
    height: auto;
    min-height: 75vh;
    flex-direction: column;
    padding: 40px 0;
    max-width: unset;
  }
}
#about-container {
  background-color: var(--pink);
  padding: 50px 5vw;
}
#about-container #about {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 100px;
  justify-content: center;
  align-items: center;
}
#about-container #about #about-images {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border-radius: var(--border-radius);
  outline: 6px solid var(--dark-pink);
}
#about-container #about #about-images #about-image-1 {
  display: block;
  width: 200px;
  max-width: 45vw;
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}
#about-container #about #about-images #about-image-2 {
  display: block;
  width: 200px;
  max-width: 45vw;
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}
@media (max-width: 825px) {
  #about-container #about {
    gap: 20px;
  }
}
@media (max-width: 745px) {
  #about-container #about {
    flex-direction: column;
    gap: 30px;
  }
}
#why-me {
  background-color: var(--yellow);
  padding: 20px 5vw;
}
#how-to-vote {
  background-color: var(--pink);
  padding: 20px 5vw;
}
